<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kang.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kang.model.User">
        <id column="id" property="id" />
        <result column="login_name" property="loginName" />
        <result column="pwd" property="pwd" />
        <result column="user_name" property="userName" />
        <result column="tel" property="tel" />
        <result column="icon" property="icon" />
        <result column="gender" property="gender" />
        <result column="birthday" property="birthday" />
        <result column="email" property="email" />
        <result column="addr" property="addr" />
        <result column="create_time" property="createTime" />
        <result column="is_del" property="isDel" />
        <result column="role_id" property="roleId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, login_name, pwd, user_name, tel, icon, gender, birthday, email, addr, create_time, is_del, role_id
    </sql>
    
    <select id="getUserList" parameterType="java.util.Map" resultType="com.kang.model.dto.UserDTO">
		SELECT  
			a.id id,
			a.login_name loginName,
			a.pwd pwd, 
			a.user_name userName,
			a.tel tel,
			a.icon icon,
			a.gender gender,
			a.birthday birthday,
			a.email email,
			a.addr addr,
			a.create_time createTime,
			a.is_del isDel,
			b.role_name roleName  
		FROM 
			tb_user a
		LEFT JOIN tb_role b ON b.id = a.role_id
		WHERE 
			a.is_del = false
		<if test="p.id != null">
		AND a.id = #{p.id}
		</if>
		<if test="p.loginName != null and p.loginName !=''">
		AND a.login_name = #{p.loginName}
		</if>
		<if test="p.pwd != null and p.pwd !=''">
		AND a.pwd = #{p.pwd}
		</if> 
		<if test="p.search != null and p.search != ''">
			and a.login_name like '%${p.search}%'
		</if>
	</select>

</mapper>
